<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JenkinsResearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JenkinsResearchTarget2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E6009801E6E7A7700AA8187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E6009941E6E7A7700AA8187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E60099F1E6E7A7700AA8187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E600A211E6FC53900AA8187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E600A341E6FC53900AA8187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E600A3F1E6FC53900AA8187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
